.button {
  text-align: center;
  color: #333;
  font-size: 18px;
  height: 36px;
  width: 180px;
  padding: 3px;
  background-color: #a1d0ff;
  border: 2px solid #2497e3;
  border-radius: 5px;
  cursor: pointer;
}

.button-toggle {
  box-sizing: border-box;
  color: #006;
  background-color: #39f;
  margin: 10px auto;
  width: auto;
  height: 24px;
  font-size: 12px;
  border: 2px solid #046485;
  border-radius: 3px;
}

.button-home {
  background-color: #39f;
  font-size: 3em;
  font-weight: bold;
  width: 400px;
  height: 100px;
  margin: 20px auto;
  border: 3px solid #046485;
  border-radius: 6px;
  vertical-align: middle;
  line-height: 100px;
}

.button-timer {
  display: inline-block;
  width: 23.5%;
  margin-left: 1%;
  box-sizing: border-box;
  color: #006;
  background-color: #39f;
  height: 80px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #046485;
  border-radius: 3px;
  cursor: pointer;
}

.button-timer-hidden {
  visibility: hidden;
}

.button-countdown {
  display: block;
  width: 120px;
  height: 55px;
  /* margin-left: 5px; */
  font-size: 24px;
  color: #006;
  background-color: #39f;
  border: 2px solid #046485;
  border-radius: 3px;
}

@media screen and (max-width: 500px) {
  .button-home {
    width: 90%;
  }

  .button-timer {
    width: 25%;
    margin-left: 0;
    box-sizing: border-box;
    font-size: 1.2em;
  }

  .button-countdown {
    margin: 10px auto;
    font-size: 1.2em;
  }
}
