input {
  height: 55px;
  margin-right: 10px;
  font-size: 2.75em;
  text-align: center;
  display: inline;
  color: white;
  background-color: #046485;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
}
